<h1><%= @task.title %> </h1>


<%= link_to "go back to tasks", tasks_path %>

<%= link_to "edit", edit_path %>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
